# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
loomai_app/**/doc/api/
loomai_app/**/ios/Flutter/.last_build_id
loomai_app/.dart_tool/
loomai_app/.flutter-plugins
loomai_app/.flutter-plugins-dependencies
loomai_app/.pub-cache/
loomai_app/.pub/
loomai_app/build/

# Symbolication related
loomai_app/app.*.symbols

# Obfuscation related
loomai_app/app.*.map.json

# Android Studio will place build artifacts here
loomai_app/android/app/debug
loomai_app/android/app/profile
loomai_app/android/app/release
